{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Log In</title>
        <script>
            const theme = localStorage.getItem('theme');
            if (theme === 'dark') {
                console.log(theme)
                document.querySelector("html").setAttribute("class", "dark");
                const themeBtn = document.getElementById('theme-btn');
                }
            else {
                document.querySelector("html").setAttribute("class", "light");
            }
        </script>
    </head>
    <body>
        <div class="container">
            <div class="login_dashboard">
                <header class="login_header">
                    <h1>Log In</h1>
                </header>
                <div class="content">
                    {% block form %}
                        <form class="login_form" method="POST" novalidate>
                            {% csrf_token %}
                            {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <ul class="errorlist">
                                        <li>{{ error }}</li>
                                    </ul>
                                {% endfor %}
                            {% endif %}
                            {% for field in form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {{ field.errors.as_ul }}
                            {% endfor %}
                            <button type="submit">Log In</button>
                        </form>
                    {% endblock form %}
                </div>
                <div class="reg_login">
                    <h6>Don't have an account?</h6>
                    <a href="{% url 'register' %}"><span>Sign Up</span></a>
                </div>
            </div>
        </div>
    </body>
</html>
